
<div id="header">
<h1>Brett U.com 
Programming {} 
Finance µ 
Mathematics ∫</h1>
<h4>Another web blog by rails!</h4>

<hr>

<ul>
  <li><%= link_to "Current Events", events_path %></li>
  <li><%= link_to "Twitter" %></li>
</ul>
</div>